version: "3.9"

services:
  eieimarketplace-slip-management:
    container_name: eiei-slip-management
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "7004:7004"
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP protocol
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  eieimarketplace-vendor-reservation:
    container_name: eiei-reservation
    build:
      context: ../eieimarketplace-vendor-reservation
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "7003:7003"
    depends_on:
      - rabbitmq
